<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'FSapp/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'FSapp/css/styles.css' %}">
    {% load crispy_forms_tags %}

    <title>Fábrica de Software - Imersão 2020.1</title>
  </head>
  <body>


    <!-- Barra de navegação -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-muted">
      <!-- <a class="navbar-brand" href="#">Fábrica de Software</a> -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#textoNavbar" aria-controls="textoNavbar" aria-expanded="false" aria-label="Alterna navegação">
      <span class="navbar-toggler-icon"></span>
      </button>
    <div class="collapse navbar-collapse" id="textoNavbar">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">Início</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Contato</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Telefone: (83) 00000-0000</a>
            <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">E-mail: fabricasoftware@gmail.com</a>
            </div>
          </li>
        </ul>
        <span class="navbar-text">
          Bem vindo à Fábrica de Software
        </span>
      </div>
    </nav>

      <!-- Logo * provisório * da Fábrica de Software -->
      <div class="container col-xl-4 col-md-6">
        <div class="envelopeLogo">
        <img src = "{% static 'FSapp/images/fabrica-original.png' %}" alt = "Logo da Fábrica de Software">
      </div>


  <!-- Caixa do nome Login -->
  <div class="imersao">
        <h4>Bem vindo à <br>
        Imersão 2020.2!</h4>
    </div>
  <!-- Menu de opções -->
  <div class="envelopeForm">
    <div class="form-group">
      <div class="botaoEnviar">
        <a href="{% url 'cadastro' %}"><button type="button" class="btn btn-primary btn-md btn-block" onclick="" name="cadastro">Cadastro</button></a>
      </div>
    </div>
  </div>

  <div class="imersao">
        <h4>Administrador</h4>
    </div>

  <div class="envelopeForm">
    <div class="form-group">
      <div class="botaoEnviar">
        <a href="{% url 'login' %}"> <button type="button" class="btn btn-primary btn-md btn-block" onclick="" name="cadastro">Login</button></a>
      </div>
    </div>
  </div>
      </div>
  
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>