<!DOCTYPE html>
<html>
  <head>
    <title>Leitor de QR Code</title>

    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'FSapp/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'FSapp/css/styles.css' %}">
    {% load crispy_forms_tags %}

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type="text/javascript" src="https://rawgit.com/schmich/instascan-builds/master/instascan.min.js" ></script>
	<!-- Caso o link não esteja funcionando, substituir o link pelo arquivo local 'instascan.min.js' -->
  </head>
  <body>

    <div class="container col-xl-4 col-md-6">

      <div class="envelopeLogo">
        <img src = "{% static 'FSapp/images/fabrica-branco.png' %}" alt = "Logo da Fábrica de Software">
      </div>

      <div class="imersao">
        <h3>IMERSÃO 2020.1</h3>
      </div>

      <div class="envelopeFormQR">

        <p class = "text-primary text-center">
            <video id="preview"></video>
            <div id="resposta">Aproxime o QR Code</div>
            <script>
                let scanner = new Instascan.Scanner(
                    {
                        video: document.getElementById('preview')
                    }
                );
                scanner.addListener('scan', function(content) {
                    if(Number(content)){
                      axios.get('/baterponto/' + content).then(function(response){
                        alert(response.data.message);
                        document.getElementById('resposta').innerHTML = response.data.message;
                      })
                    } else {
                      document.getElementById('resposta').innerHTML = 'Qrcode inválido';
                    }
                });
                Instascan.Camera.getCameras().then(cameras =>
                {
                    if(cameras.length > 0){
                        scanner.start(cameras[0]);
                    } else {
                        console.error("Não existe câmera no dispositivo!");
                    }
                });
            </script>
        </p>
     <div id="botaoVoltar">
      <a class="btn btn-primary btn-md btn-block" href="{% url 'dashboard' %}">Voltar</a>
      </div>


      </div>


    </div>
  <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="{% static 'FSapp/js/bootstrap.min.js' %}"></script>
 </body>
</html>